* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background-color: #2100fa2c;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4285f4;
}
